{block content}

    <h2>{$product->name}</h2>

    <div>
        {$product->description}
        {foreach $product->related('product_tag') as $productTag}
            <span class="badge bg-secondary">{$productTag->tag->name}</span>
        {/foreach}
    </div>

    <div>{$product->price}CZK</div>

    <div>{$product->price|convert('EUR')|number:2}EUR</div>

    <div n:snippet="basketRelated">
        {var $id = uuid($product->id)}
        {control addToBasket-{$id}}
    </div>
{/block}