search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Repository


services:
	- App\Router\RouterFactory::createRouter
	- App\DTO\Basket


	Conversion: App\Latte\Filter\Conversion
	Uuid: App\Latte\Filter\Uuid
	nette.latteFactory:
		setup:
			- addFilter('convert', [@Conversion, 'convert'])
			- addFunction('uuid', [@Uuid, 'uuid'])

	cache.storage: Nette\Caching\Storages\SQLiteStorage('%tempDir%/cache.db')